.projects-container {
    color: rgb(255, 255, 255);
  }
  
  .projects-list {
    list-style-type: none;
    padding: 0;
  }
  
  .projects-list li {
    margin-bottom: 20px;
  }
  
  .projects-list li a {
    color: lightblue; /* Change the link color to light blue */
    font-size: 22px; /* Increase the font size of the links */
    text-decoration: none;
  }
  
  .projects-list li p {
    color: #ffffff;
    font-size: 18px;
    margin-top: 5px;
  }

  .project-image {
    width: 40%;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-top: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Add smooth transition for hover effects */
  }
  
  .project-image:hover {
    transform: scale(1.05); /* Slightly increase size */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    filter: brightness(1.1); /* Brighten the image */
  }