/* Base styles for the Resume component */
.resume-container {
    text-align: center;
    padding: 20px;
  }
  
  .resume-title {
    color: white;
    font-size: 2em; /* Adjust font size as needed */
    margin-bottom: 20px;
  }
  
  .resume-image {
    width: 30%;
    margin: 0 auto; /* This centers the image horizontally */
    display: block; /* Ensures the image behaves like a block element */
    max-width: 100%; /* Ensures the image is responsive */
    height: auto;
  }
  


  .download-container {
    display: flex;
    justify-content: center; /* Aligns the button to the left */
    padding: 10px 0;
  }
  
  .download-button {
    padding: 10px 20px;
    margin-left: 12px;
    margin-top: 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #02172e;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
.download-button:hover {
  background-color: #122d4b;
}

.certifications-container {
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
  font-size: larger;
}

.certifications-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  
}

.certifications-list {
  list-style: none;
  padding: 0;
}

.certifications-list li {
  margin-bottom: 60px;
}

.certifications-list a {
  color: #ffffff;
  text-decoration: none;
}

.certifications-list a:hover {
  text-decoration: underline;
  font-size: 1.5rem;
  color: #4a9fff;
}

.certification-thumbnail {
  width: 40%; /* Adjust size as needed */
  margin-bottom: 0px;
  justify-content: center;

  
}

  /* Media Queries for responsive design */
  
  /* For screens 950px and smaller */
  @media screen and (max-width: 950px) {
    .resume-title {
      font-size: 1.8em; /* Slightly smaller title on tablets */
    }
  
    .resume-image {
      width: 95%; /* Increase image width for tablets */
    }

    .download-container {
      display: flex;
      justify-content: center; /* Aligns the button to the left */
      padding: 10px 0;
    }

    .certification-thumbnail {
      width: 100%; /* Adjust size as needed */
      margin-bottom: 10px;
      display: flex;
    
      
    }
  }
  
  /* For screens 780px and smaller (mobile) */
  @media screen and (max-width: 780px) {
    .resume-title {
      font-size: 1.5em; /* Smaller title font for mobile screens */
    }
  
    .resume-image {
      width: 100%; /* Further increase image width for mobile */
    }

    .download-container {
      display: flex;
      justify-content: center; /* Aligns the button to the left */
      padding: 10px 0;
    }

    .certification-thumbnail {
      width: 100%; /* Adjust size as needed */
      margin-bottom: 10px;
      display: flex;
    
      
    }
  }
  